services:
  db:
    image: postgres:latest
    container_name: db
    networks:
      - shared_network
    expose:
      - "5432"  # PostgreSQL listens on this port inside shared_network in docker host
#    ports:
#      - "${DB_PORT}:5432"  # Uncomment if you need external access
    env_file:
      - .env
    environment:
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_USER: "${DB_USER}"
      POSTGRES_DB: "${DB_NAME}"
    volumes:
      - ./db:/var/lib/postgresql/data  # Stores DB data locally
    restart: always

  backend:
    build:
      context: ./backend
      dockerfile: dockerfile.backend
    container_name: backend
    expose:
      - "5000"
    networks:
      - shared_network
    depends_on:
      - db
    env_file:
      - .env  # Explicitly load environment variables from .env
    volumes:
      - ./backend:/app/backend
    restart: always

  endpoint:
    build:
      context: ./endpoint
      dockerfile: dockerfile.endpoint
    container_name: endpoint
      #expose:
      #- "5001"
    ports:
      - "5001:5001"
    networks:
      - shared_network
    depends_on:
      - db
    volumes:
      - ./endpoint:/app
    restart: always

  proxy:
    image: nginx:latest
    container_name: proxy
    ports:
      - "32211:32211"
      - "32212:32212"
    volumes:
      - ./proxy/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./proxy/logs:/var/log/nginx
    networks:
      - shared_network
    depends_on:
      - backend
      - endpoint
    restart: always

networks:
  shared_network:
    external: true

volumes:
  db_data:
